.imgrenragle {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 32px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;

}
.contant{
    background-color: #EABF9F;
}
.adres__hero {
    position: absolute;
    max-width: 516px;
    height: 59px;
    left: 550px;
    top: 5167px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #01384D;
}

.s1264 {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 529px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;
}

.s1265 {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 995px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.pochta {
    position: absolute;
    max-width: 175px;
    height: 28px;
    left: 150px;
    top: 5567px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #01384D;
}

.manzil {
    position: absolute;
    max-width: 277px;
    height: 50px;
    left: 105px;
    top: 5621px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01384D;
    opacity: 0.7;
}

.mati {
    position: absolute;
    max-width: 219px;
    height: 28px;
    left: 651px;
    top: 5567px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #01384D;
}

.taklif {
    position: absolute;
    max-width: 352px;
    height: 75px;
    left: 585px;
    top: 5621px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01384D;
    opacity: 0.7;
}
.garant{
    position: absolute;
max-width: 84px;
height: 28px;
left: 1155px;
top: 5567px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #01384D;

}
.suggest{
    position: absolute;
max-width: 328px;
height: 75px;
left: 1033px;
top: 5621px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #01384D;
opacity: 0.7;
}


.conainer{
    position: absolute;
width: 1920px;
height: 300px;
left: 30px;
top: 6000px;
background: #EABF9F;
}
.h2{
position: absolute;
height: 42px;
left: 320px;
top: 6100px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 42px;
color: #01384D;
}
.pi{
    position: absolute;
    width: 421px;
    height: 23px;
    left: 320px;
    top: 6150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;   
}
.footer__input{
    position: absolute;
    width: 420px;
    height: 60px;
    left: 926px;
    top: 6100px;
    background: #FFFFFF;
    border-radius: 5px;
    }
    .yubor{
        position: absolute;
width: 240px;
height: 60px;
left: 1361px;
top: 6100px;
background: #01384D;
border-radius: 5px;
    }
.container2{
    position: absolute;
width: 1920px;
height: 155px;
left: 20px;
top: 6400px;

background: #fff;
}
.biz{
    font-style: 16px;
    list-style-type: none;
    left: 90px;
}
.kat{
    font-style: 16px;
    list-style-type: none;
    left: 90px;
    display: flex;
}
.aks{
    font-style: 16px;
    list-style-type: none;
    left: 90px;
    display: flex;
}
.man{
    font-style: 16px;
    list-style-type: none;
    left: 90px;
}
.p{
    font-style: 16px;
    list-style-type: none;
    left: 90px;
    display: flex;
}
.img{
    position: absolute;
    left: 70.05%;
    right: 16.67%;
    top: 99.18%;
    bottom: 0.35%;
}
.img1{

top: 8734px;
width: 109px;
margin: 0 auto;
}
.img2{
    margin-left: 30px;
    left: 70.05%;
    right: 16.67%;
    top: 99.18%;
    bottom: 0.35%;
}

.footer__top__list {
    position: absolute;
    width: 1920px;
    height: 155px;
    left: 30px;
    top: 6360px;
    background: #ffffff;

    .none1 {
        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 19px;
        left: 320px;
        right: 1497;
        top: 4px;
        bottom: 132px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #0A142F;
    }
}

.none2 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 19px;
    left: 503px;
    right: 1360px;
    top: 4px;
    bottom: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A142F;
    line-height: 18.78px;
    width: 130px;
}

.none3 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 19px;
    left: 640px;
    right: 1232px;
    top: 4px;
    bottom: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A142F;
    line-height: 18.78px;
    width: 130px;
}

.none4 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 19px;
    left: 768px;
    right: 1074px;
    top: 4px;
    bottom: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A142F;
    line-height: 18.78px;
    width: 130px;
}

.footer-top__list-item {
    display: flex;

    a {
        font-style: none;
        text-decoration: none;
        color: #01384D;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }
}

.footer__image {
    position: absolute;
    left: 1384px;
    right: 512px;
    top: 0px;
    bottom: 131px;
}

.footer__image1 {
    position: absolute;
    left: 1448px;
    right: 448px;
    top: 2px;
    bottom: 133px;
}

.footer__image2 {
    position: absolute;
    left: 1512px;
    right: 384px;
    top: 2px;
    bottom: 132px;
}

.footer__image3 {
    position: absolute;
    left: 1576px;
    right: 320px;
    top: 4px;
    bottom: 134px;
}

.linya {
    position: absolute;
    width: 1280px;
    height: 0px;
    right: 320px;
    left: 320px;
    top: 64px;
    bottom: 91px;
    opacity: 0.3;
    border: 1px solid #01384D;
}

.footer__vizitka {
    position: absolute;
    left: 1345px;
    right: 320px;
    top: 89px;
    bottom: 25px;
}

.footer__strelka {
    position: absolute;
    left: 935px;
    right: 935px;
    top: 90px;
    bottom: 15px;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 0px;
    left: 310px;
    right: 1055px;
    top: 100px;
    bottom: 37px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #01384D;
    mix-blend-mode: normal;
    opacity: 0.5;
}